# --------------------------------------------------
# RoomBook Environment Configuration
# --------------------------------------------------

# URL Basis Aplikasi
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Pengaturan Sesi & JWT
NEXTAUTH_SECRET="roombook-super-secret-key-change-in-production-12345"
NEXTAUTH_URL="http://localhost:3000"

# Konfigurasi Database (Prisma)
# Untuk development lokal SQLite (Default):
DATABASE_URL="file:./dev.db"

# Untuk production PostgreSQL:
# DATABASE_URL="postgresql://postgres:password@localhost:5432/roombook?schema=public"

# Konfigurasi Google Cloud Platform (GCP) OAuth 2.0 / Google Workspace SSO
GCP_PROJECT_ID="roombook-campus-cloud"
GOOGLE_CLIENT_ID="1234567890-example.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-example_client_secret_here"
GOOGLE_CALLBACK_URL="http://localhost:3000/api/auth/callback/google"

# Konfigurasi Institusi
NEXT_PUBLIC_INSTITUTION_NAME="Universitas RoomBook Indonesia"
NEXT_PUBLIC_CAMPUS_CODE="RBI"
